@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-border-default: 255, 255, 255, 0.2;
    --scrollbar-width: 0.1rem;
  }

  body {
    @apply bg-background text-secondary;
  }
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
